* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    width: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.schedule {
    width: 100%;
    display: flex;
    gap: 20px;
}

form input {
    width: calc((100% - 40px) / 4);
    height: 40px;
    outline: none;
    padding: 0 10px;
    border: 1px solid #8a8a8a;
}

form select {
    width: calc((100% - 40px) / 4);
    height: 40px;
    outline: none;
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid #8a8a8a;
}

form button {
    width: 200px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    cursor: pointer;
    margin-top: 10px;
}

.addFormSubmit input,
.addFormSubmit button {
    width: 400px;
}

.weekDay {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #8a8a8a;
    padding: 10px;
}

.weekData {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid #c4c4c4;
    margin-top: -1px;
    cursor: pointer;
}

.weekType {
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #8a8a8a;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;

}

.weekType_title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.schedule h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.weekType_types {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.weekType_types__element {
    width: 100%;
    height: 70px;
    cursor: pointer;
    background-color: #ececec;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    padding: 0 10px;
    border: 1px solid #2B2A29;
}

.weekType_types__element:hover {
    background-color: #ffffff;
}

.weekType_types__element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.weekData_number {
    width: 40px;
    border: 1px solid #8a8a8a;
    color: #000;
}

.weekData_number:disabled {
    background-color: #fff;
}


.weekDay_add {
    width: 35px;
    height: 35px;
    background-color: #2e3181;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.weekData_type2 {
    display: flex;
    width: calc((100% - 40px) / 4);
}

.weekData_type2 select {
    width: 50%;
}

.weekData_type2 select:last-child {
    width: 50%;
    margin-left: -1px;
}

.weekData_type3 {
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 4);
}

.weekData_type3 select {
    width: 100%;
}

.weekData_type3 select:last-child {
    margin-top: -1px;
}

.weekData_type4 {
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 4);
}

.weekData_type4>div {
    display: flex;
    width: 100%;
}

.weekData_type4>div>select {
    width: 50%;
}

.weekData_type4>div>select:last-child {
    margin-left: -1px;
}

.weekData_type4>select:last-child {
    margin-top: -1px;
    width: calc(100% - 1px);
}

.weekData_type4 select {
    width: 100%;
}

.weekData_type5 {
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 4);
}

.weekData_type5>div {
    display: flex;
    width: 100%;
}

.weekData_type5>div>select {
    width: 50%;
}

.weekData_type5>div>select:last-child {
    margin-left: -1px;
}

.weekData_type5 select {
    width: 100%;
}

.weekData_type5>select {
    margin-bottom: -1px;
    width: calc(100% - 1px);
}

.weekData_type6 {
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 4);
}

.weekData_type6>div {
    display: flex;
    width: 100%;
}

.weekData_type6>div>select {
    width: 50%;
}

.weekData_type6>div>select:last-child {
    margin-left: -1px;
}

.weekData_type6 select {
    width: 50%;
}

.weekData_type7 {
    display: flex;
    width: calc((100% - 40px) / 4);
}

.weekData_type7>div {
    width: 50%;
}

.weekData_type7>div>select {
    display: flex;
    width: 100%;
}

.weekData_type7>div>select:last-child {
    margin-top: -1px;
}

.weekData_type7>.inputDropBlock input {
    display: flex;
    width: 100%;
    height: 100%;
}

.weekData_type8 {
    display: flex;
    width: calc((100% - 40px) / 4);
}

.weekData_type8>div {
    width: 50%;
}

.weekData_type8>div>select {
    display: flex;
    width: 100%;
}

.weekData_type8>div>select:last-child {
    margin-top: -1px;
}

.weekData_type8>.inputDropBlock input {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: -1px;
}



/* icons */

.weekType_types__element>div {
    width: 100%;
}

.type_element {
    border: 1px solid #2e3181;
}

/*  */

.type1_block {
    width: 100%;
    height: 20px;
}

/*  */

.type2_block {
    width: 100%;
    height: 20px;
}

.type2_block:last-child {
    margin-left: -1px;
}

/*  */

.type3_block {
    width: 100%;
    height: 20px;
}

.type3_block:last-child {
    margin-top: -1px;
}

/*  */

.type4 {
    flex-direction: column;
}

.type4>div {
    display: flex;
}

.type4_block {
    width: 100%;
    height: 20px;
}

.type4_block:last-child {
    margin-left: -1px;
}

.type4>.type4_block {
    margin-top: -1px;
}

/*  */

.type5 {
    flex-direction: column;
}

.type5>div {
    display: flex;
}

.type5_block {
    width: 100%;
    height: 20px;
}

.type5_block:last-child {
    margin-left: -1px;
}

.type5>.type5_block {
    margin-bottom: -1px;
}

/*  */

.type6 {
    flex-direction: column;
}

.type6>div {
    display: flex;
    margin-top: -1px;
}

.type6>div>.type6_block:last-child {
    margin-left: -1px;
}

.type6_block {
    width: 100%;
    height: 20px;
}

/*  */

.type7>div .type7_block {
    height: 20px;
}

.type7>div .type7_block:last-child {
    margin-top: -1px;
}

.type7>div:last-child .type7_block {
    height: 39px;
    margin-left: -1px;
    margin-top: 0px;
}

/*  */

.type8>div .type8_block {
    height: 39px;
}

.type8>div:last-child .type8_block {
    height: 20px;
    margin-left: -1px;
    margin-top: 0px;
}

.type8>div:last-child>.type8_block:last-child {
    margin-top: -1px;
}


/* icons */
nav {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav ul div {
    font-weight: 500;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

nav ul div:hover {
    border-bottom: 1px solid #000;
}

.renderSection {
    width: 100%;
}

.hidden {
    display: none;
}

.auditorium form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.showData {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.auditorium form h2 {
    margin-bottom: 30px;
}

.building_floars__floar___datas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.building_floars__floar___number {
    width: 70px;
    padding: 10px 20px;
    background-color: #2e3181;
    color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.building_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.building_floars,
.building_floars__floar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block_and_delete {
    position: relative;
    cursor: pointer;
}

.teachersShow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.teachersShow_title {
    padding: 10px 20px;
    background-color: #2e3181;
    color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


.deleteNumber,
.deleteTeacher,
.deleteStudent,
.deleteGroups {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 20px;
    height: 20px;
    background-color: #FC0005;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

.deleteNumber img,
.deleteTeacher img,
.deleteStudent img,
.deleteGroups img {
    width: 40%;
}

.editNumber,
.editTeacher,
.editStudent,
.editGroups {
    position: absolute;
    right: 12px;
    top: -8px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

.editNumber img,
.editTeacher img,
.editStudent img,
.editGroups img {
    width: 100%;
}

.teachersShow_name {
    font-size: 20px;
    font-weight: 600;
}

.checkStartData {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.checkStartData select {
    width: 300px;
    height: 40px;
    outline: none;
    cursor: pointer;
}

/*  */

.inputDropBlock {
    width: 100%;
    position: relative;
}

.inputDropBlock input {
    width: 100%;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}


.dropdown-content .elements {
    padding: 8px 10px;
    cursor: pointer;
}

.dropdown-content .elements:hover {
    background-color: #f4f4f4;
}

#directionsData {
    width: 400px;
}

#startDataDirection {
    display: none;
}

#startDataGroup {
    display: none;
}


.showDataCoincidences {
    width: 100%;
    display: flex;
    justify-content: center;
}

.coincidences {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.coincidences_check {
    width: 31%;
    min-width: 570px;
    border: 2px solid #969696;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 100%; */
    position: relative;
}

.coincidences_title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}

.coincidences_data {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
}

.coincidences_item {
    font-size: 14px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #969696;
    padding: 10px;
}

.coincidences_item__gap{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}

.coincidences_item__element {
    padding: 5px;
}

.coincidences_item__element span {
    font-weight: 600;
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}

.coincidences_item button {
    width: 100%;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.red {
    background-color: #FC0005;
}

.coincidences_item__element input{
    width: 100%;
    height: 27px;
    outline: none;
    padding: 0 5px;
}

.findCoincidence{
    border: 1px solid #2e3181 !important;
    padding: 10px;
    border-radius: 10px;
}

.findCoincidence:hover{
    background-color: #2e3181 !important;
    color: #fff !important;
}

.nonExistent{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.coincidences_img{
    width: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.coincidences_img img {
    width: 100%;
}

.deleteLineButtonBlock{
    background-color: #FC0005;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
}